*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
body{
    font-family: sans-serif;
    background-color: #c7cbe4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 900px;
}
.top{
    position: relative;
    width: 103%;
    bottom: -109px;
    right: 15px;
}
.img_top{}
.content{
    width: 850px;
    height: 650px;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #d57589, #ffc7a3);
    box-shadow: -77px 30px 105px 23px #b09bd4;    
}