*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-color: #c7cbe4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 900px;
    padding: 7rem 0;
}
.top{
    position: relative;
    width: 103%;
    bottom: -109px;
    right: 15px;
}
.img_top{}
.content{
    width: 850px;
    height: 650px;
    border-radius: 50px;
    background-image: linear-gradient(90deg, #d57589, #ffc7a3);
    box-shadow: -77px 30px 105px 23px #b09bd4;   
    padding: 3rem; 
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}
.title_nav{}
.text_title_nav{
    color: #fff;
}
.nav_list{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.item_nav{}
.item_nav:last-child{
    background-color: #ff676e;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.item_nav_link{
    color: #fff;
    font-size: 0.9rem;
}
.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.item_box{
    border-radius: 20px 5px 15px 15px;
    box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;    
    transition: all 0.3s ease-out;
}
.item_box:hover{
    transform: translateY(-10px);
}
.item_box:nth-child(1){
    background-image: linear-gradient(90deg,#ddcfd0,#f9e2d2);
}
.item_box:nth-child(2){
    background-image: linear-gradient(90deg,#bf92f1,#e4b3fa);
}
.item_box:nth-child(3){
    background-image: linear-gradient(90deg,#69e7b7 ,#9fffd6 );
}
.item_box:nth-child(4){
    background-image: linear-gradient(90deg,#febea7 ,#fdf5d2 );
}
.item_box:nth-child(5){
    background-image: linear-gradient(90deg,#fd556b ,#ff8e80 );
}
.item_box:nth-child(6){
    background-image: linear-gradient(90deg,#f89e27 ,#ffd054 );
}
.item_box:nth-child(7){
    background-image: linear-gradient(90deg,#bf92f1 ,#e4b3fa );
}
.item_box:nth-child(8){
    background-image: linear-gradient(90deg,#febea7 ,#fdf5d2 );
}
.img_item_box{}
.text_item_box{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 1.3rem 1rem;    
}